<md-card>
    <md-card-content>
        <img md-card-image src="assets/main.jpg" />
        <form class="example-form">
            <md-form-field class="example-full-width">
                <input mdInput placeholder="아이디" value="">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input mdInput placeholder="비밀번호" value="">
            </md-form-field>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" class="login-button" (click)="login()">로그인</button>
        <button md-raised-button color="warn" class="signup-button">회원 가입</button>
    </md-card-actions>
</md-card>