<md-toolbar color="primary">
    <span>아이돌 카드 교환소</span>
    <span class="example-spacer"></span>
</md-toolbar>
<md-card>
    <md-card-title-group>
            <md-card-title> 회원가입 페이지 </md-card-title>
            <md-card-subtitle>
                카드 매칭 성공 시 입력한 이메일을 상대방에게 노출하게 됩니다. (단, 매칭시점 일주일 후 비노출함) <br/>
                이 점 유의해서 가입 부탁드립니다. <br/>
                악용유저를 막기 위해 Naver 이메일로만 아이디를 받고 있습니다.                
            </md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
        <form class="example-form">
            <md-form-field class="example-full-width">
                <input mdInput placeholder="아이디" [(ngModel)]="username" value="" name="username">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input type="email" mdInput placeholder="이메일" [(ngModel)]="email" value="" name="password">
            </md-form-field>
            
            <md-form-field class="example-full-width">
                <input type="password" mdInput placeholder="비밀번호" [(ngModel)]="password" value="" name="password">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input type="password" mdInput placeholder="비밀번호 확인" [(ngModel)]="password_re" value="" name="password">
            </md-form-field>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" class="login-button" (click)="signup()">회원 가입</button>
        <button md-raised-button color="warn" class="login-button" (click)="moveToLogin()">로그인 돌아가기</button>
    </md-card-actions>
</md-card>
